<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jt.mapper.RightsMapper">
    <cache />
    <select id="getRightsList" resultMap="Rights">
        select * from (select * from rights where parent_id = 0)p
        left join
        (select id c_id,name c_name,parent_id c_parent_id,path c_path,level c_level,created c_created,updated c_updated from rights)c
        on p.id = c.c_parent_id
    </select>

    <resultMap id="Rights" type="Rights" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="children" ofType="Rights">
            <id property="id" column="c_id"/>
            <result property="name" column="c_name"/>
            <result property="parentId" column="c_parent_id"/>
            <result property="path" column="c_path"/>
            <result property="level" column="c_level"/>
            <result property="created" column="c_created"/>
            <result property="updated" column="c_updated"/>
        </collection>
    </resultMap>

</mapper>